{% extends "auctions/layout.html" %}

{% block title %}Listing{% endblock %}
{% block body %}
    <ul>
        <li>Primary key: {{ listing.pk }}</li>
        <li>Title: {{ listing.title }}</li>
        <li>Description: {{ listing.description }}</li>
        <li>Price: ${{ listing.price }}</li>
        <li>Image: {{ listing.image_url }}</li>
        <li>Category: {{ listing.category }}</li>
    </ul>
    <!-- Only show if user is logged in -->
    {% if user.is_authenticated %}
        <a href="{% url 'watchlist' listing.pk %}" role="button">Add to watchlist</a>
    {% endif %}
{% endblock %}
