{% extends "auctions/layout.html" %}

{% block title %}Listing{% endblock %}
{% block body %}
<h2>{{ listing.title }}</h2>

{% if listing.image_url %}
    <div>
        <img src="{{ listing.image_url }}" width=400 alt="Listing image">
    </div>
{% endif %}

<div>
    <b>Description:<br></b>
    <p class="tab">{{ listing.description }}</p>
</div>

<div class="pad-below">
    {% load humanize %}
    {% if listing.winner %}
        <b>This auction is closed and the item sold for:</b> ${{ listing.price|intcomma }}
    {% else %}
        <b>Current price:</b> ${{ listing.price|intcomma }}
    {% endif %}    
</div>

<!-- Only show if user is logged in -->
{% if user.is_authenticated %}
    {% if not listing.winner %}
        <!-- bid on item -->
        <form action="{% url 'bid' listing.pk %}" method="post">
            <div class="form-inline">
                {% csrf_token %}
                {{ bid_form }}
                <input type='submit' class="btn btn-primary pad above">
            </div>
        </form>
    {% endif %}

    {% if message %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endif %}
    
    {% if on_watchlist %}
        <a href="{% url 'add_watchlist' listing.pk %}" role="button">Remove from watchlist</a>
    {% else %}
        <a href="{% url 'add_watchlist' listing.pk %}" role="button">Add to watchlist</a>
    {% endif %}

    <!-- close bidding -->
    {% if listing.lister == user %}
        <!-- if auction not already closed -->
        {% if not listing.winner %}
            <div>
                <a href="{% url 'close' listing.pk %}" role="button">Close bidding</a>
            </div>
        {% endif %}
    {% endif %}

    <!-- notify user if they are the winner -->
    {% if listing.winner == user %}
        <div>
            <h3 style="color: crimson;">Congratulations, you won the auction!</h3>
        </div>
    {% endif %}
{% endif %}

<div>
    {% if user.is_authenticated %}
        <!-- add comment -->
        <div>
            <h4 class="pad-above">Add comment</h4>
            <form action="{% url 'comment' %}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="hidden" name="listing" value="{{ listing.pk }}">
                    <input type="hidden" name="commenter" value="{{ user }}">
                    <input type="submit" class="btn btn-primary pad above">
                </div>
            </form>
        </div>
    {% endif %}
    <hr>
    {% for comment in comments %}
        <div>
            <b>{{ comment.commenter }}</b>
            <div>
                {{ comment.comment }}
            </div>
            <hr>
        </div>
    {% endfor %}
</div>
{% endblock %}
