textarea {
    min-height: 400px;
}

.email {
    padding: 10px;
}

.read {
    background-color: white;
}

.unread {
    background-color: gainsboro;
}

.email-components {
    min-width: 200px;
    display: inline-block;
}

.names, .subject {
    text-align: left;
    padding-right: 10px;
}

.timestamp {
    text-align: right;
    float: right;
}
