{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/user.js' %}"></script>
{% endblock %}

{% block body %}
    <h2>All Posts</h2>
    {% if user.is_authenticated %}
        {% if message %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
        {% endif %}
        <div class='border rounded mt-2 p-2' id='post-form'>
            <h5>New Post</h5>
            <form action="{% url 'post' %}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form }}
                    <input type='submit' class="btn btn-primary mt-2" value="Post">
                </div>
            </form>
        </div>
    {% endif %}

    {% for post in page.object_list %}
        <div class='border rounded mt-2 p-2'>
            <h5><a href="{% url 'user' post.poster.id %}">{{ post.poster }}</a></h5>
            {% if post.poster == user %}
            <div class="edit-post">
                <button data-post="{{ post.id }}" class="btn btn-primary mt-2 edit-post-button">Edit</button>
            </div>
            {% endif %}
            <div class="post-text" data-posttext="{{ post.id }}">
                {{ post.post }}
            </div>
            {{ post.created }}<br>
            <div class="like">
                {% if post.liked %}
                    <div class="heart-emoji" data-post="{{ post.id }}" style="display:inline-block;">
                        <!-- broken heart -->
                        &#x1F494;
                    </div>
                {% else %}
                    <div class="heart-emoji" data-post="{{ post.id }}" style="display:inline-block;">
                        <!-- red heart -->
                        &#x2764;
                    </div>
                {% endif %}
                <div class="like-count" data-post="{{ post.id }}" style="display:inline-block;">
                    {{ post.likes }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="page-links">
        {% if page.has_previous %}
            <a href="{% url 'index' %}?page={{ page.previous_page_number }}">Previous Page</a>
        {% endif %}
        {% if page.has_next %}
            <a href="{% url 'index' %}?page={{ page.next_page_number }}">Next Page</a>
        {% endif %}
        
    </div>
    <hr>
{% endblock %}